body {
  font-size: 16px;
  margin: 0;
  padding: 2%;
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(https://images.unsplash.com/photo-1487147264018-f937fba0c817?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-position: center;
  opacity: 0.6;
  z-index: -1;
}

.parent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-btns {
  margin: 2%;
  width: 90%;
  display: flex;
  justify-content: center;
  gap: 3%;
}

#content {
  width: 60%;
}

.headline {
  text-align: center;
  margin: 3%;
  font-size: 2rem;
}

.intro {
  font-size: 1.4rem;
}

.dropdown {
  margin-bottom: 20px;
  border: 1px solid #a7aea8;
  background-color: #fff;
  border-radius: 5px;
}
.dropdown-title {
  cursor: pointer;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  font-weight: bold;
}
.dropdown-content {
  display: none;
  padding: 10px;
}
.dropdown.active .dropdown-content {
  display: block;
}

.menu-img {
  width: 10%;
}

/* NAV BUTTONS */
.tab-btn {
  --b: 3px; /* border thickness */
  --s: 0.45em; /* size of the corner */
  --color: #0d0d0d;

  padding: calc(0.5em + var(--s)) calc(0.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background: conic-gradient(from 90deg at var(--b) var(--b), #f3efef00 90deg, var(--color) 0) var(--_p) var(--_p) /
    calc(100% - var(--b) - 2 * var(--_p)) calc(100% - var(--b) - 2 * var(--_p));
  transition: 0.3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: 0.6em;
  font-size: 16px;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.tab-btn:hover,
.tab-btn:focus-visible {
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: 0.05em;
}

.tab-btn:active {
  background: var(--color);
  color: #fff;
}
